@model IEnumerable<Products>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table table-dark table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th>

        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @*@Html.ActionLink("Editar", "Edit", new { id = item.CategoryID })
                    @Html.ActionLink("Detalles", "Details", new { id = item.CategoryID })
                    @Html.ActionLink("Borrar", "Delete", new { id = item.CategoryID })*@
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Retornar al Index", "Index")
</div>